body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle 600vh at 20% 140%, #008c8e, #12121200 15%), 
    radial-gradient(circle 600vh at 125% 0%, #17003c, #121212 15%);
    background-attachment: fixed;
    color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1470px;
    margin: 15px;
}

.card {
    position: relative;
    background: rgba(18, 18, 18, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 150px;
    transition: transform 0.2s;
}

@media (max-width: 1520px) {
    .container {
        max-width: 350px;
    }

    .card {
        width: 100%;
    }
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    background: linear-gradient(45deg, #3a9098, #413e8d) border-box;
    -webkit-mask: 
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
}

.card:hover {
    transform: scale(1.05);
}

.card.past {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.05);
}
.card.past:before {
    background: #3d265a border-box;
}

.card.highlight {
    transform: scale(1.1);
    background-color: #242727;
}
.card.highlight::before {
    border: 3px solid transparent;
    background: linear-gradient(45deg, #4cafa2, #c8ff00) border-box;
}

.card.today::before {
    border: 3px solid transparent;
    background: linear-gradient(45deg, #10c7d7, #9b04a6) border-box;
}

.card h5 {
    margin: 0;
    color: #bbb;
}

.card p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #bbb;
}

.datepicker {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background: #323232;
    font-family: 'Roboto';
    color-scheme: dark;
}
